@font-face {
    font-family: "valorant";
    src: url(ValorantFont.ttf);
}

.container {
    display: flex;
    justify-content: space-between;
}

.btn{
    height: 100px;
    width: 200px;
    font-family: "valorant",sans-serif;
    background-color: #e83746;
    color: white;
    border: 5px solid #101823;
    
}

.div2{
    display: flex;
}